@model W2022_Assignment3_Ewerton.Models.Teacher

@{
    ViewBag.Title = "Delete";
}

<h2>Are you sure you want to delete @Model.FName?</h2>

<div>
    <div>First Name: @Model.FName;</div>
    <div>Last Name: @Model.LName;</div>
    <div>Teacher Id: @Model.Id;</div>
    <div>Employee Number: @Model.EmployeeNumber;</div>
    <div>Hire Date: @Model.HireDate;</div>
    <div>Salary: @Model.Salary;</div>
</div>

<form method="POST" action="/Teacher/Remove/@Model.Id">
    <input type="submit" value="Yes, delete."/>
</form>


